// ? Font_variable
$baseFont: Poppins;

// ! Size_variable
$bsSize: 48px;
$bsFontW: 600;

// ? Color
$colorBS: #242323;
$colorCardTitle: #191919;
$colorCardSubtitle: #7f7f7f;
$colorBG: #e6c744;
$colorFooterText: #8e8e8e;
$colorIconFooter: #ebd96b;
$colorFooterListTitle: #d9d9d9;
//  =============================================================================================================================================
